@import 'csshake';

.Added {
  background: limegreen;
  color: white;
  display: inline-block;
}
.Removed {
  background: lightcoral;
  color: white;
  display: inline-block;
}
.Default {
  color: lightslategrey;
}
